<section>
  <h3>Home</h3>
</section>

<mat-card>
  <button
   *ngIf="this.people.length !== this.people_count"
    mat-raised-button
    color="primary"
    (click)="getPeople()"
  >
  Get People
  </button>
  <button mat-raised-button color="primary" (click)="getContacts()">Datawasher Contacts</button>
</mat-card>

<input type="text">
<ul *ngIf="people">
  <li *ngFor="let p of people">
      <p>{{p | json}}</p>
      <p>{{p.name}} {{p.mass}}</p>
  </li>
</ul>

<ul *ngIf="contacts">
  <li *ngFor="let c of contacts">
      <p>{{c.first_name}} {{c.last_name}} {{c.addr}}</p>
  </li>
</ul>
